body{
 background:rgb(203, 203, 203);
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
 font-family: Hiragino Sans GB,微软雅黑 !important;
 font-weight: 300;
}

.form-signin {
    color:#ffffff;
    position: relative;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: -600px;
}